<?xml version="1.0"?>

<launch>

  <!-- Start Gazebo with wg world running in (max) realtime -->
  <include file="$(find hector_gazebo_worlds)/launch/start.launch">
    <arg name="world" value="$(find uavs_explore_indoor_environment)/worlds/map7.world"/>
  </include>

  <!-- Spawn simulated quadrotor uav -->
  <group ns="uav0">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav0" />
      <arg name="tf_prefix" value="uav0" />
      <arg name="x" default="1.0"/>
      <arg name="y" default="-1.0"/>
      <arg name="z" default="0.3"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
                controller/attitude
                controller/velocity
                controller/position
                "/>
    </include>
  </group>

  <group ns="uav1">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav1" />
      <arg name="tf_prefix" value="uav1" />
      <arg name="x" default="1.0"/>
      <arg name="y" default="0.0"/>
      <arg name="z" default="0.3"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
                controller/attitude
                controller/velocity
                controller/position
                "/>
    </include>
  </group>

  <group ns="uav2">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav2" />
      <arg name="tf_prefix" value="uav2" />
      <arg name="x" default="0.0"/>
      <arg name="y" default="0.0"/>
      <arg name="z" default="0.3"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
                controller/attitude
                controller/velocity
                controller/position
                "/>
    </include>
  </group>

  <group ns="uav3">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav3" />
      <arg name="tf_prefix" value="uav3" />
      <arg name="x" default="0.0"/>
      <arg name="y" default="-1.0"/>
      <arg name="z" default="0.3"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
                controller/attitude
                controller/velocity
                controller/position
                "/>
    </include>
  </group>

  <group ns="uav4">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav4" />
      <arg name="tf_prefix" value="uav4" />
      <arg name="x" default="2.0"/>
      <arg name="y" default="-1.0"/>
      <arg name="z" default="0.3"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
                controller/attitude
                controller/velocity
                controller/position
                "/>
    </include>
  </group>

  <group ns="uav5">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav5" />
      <arg name="tf_prefix" value="uav5" />
      <arg name="x" default="2.0"/>
      <arg name="y" default="0.0"/>
      <arg name="z" default="0.3"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
                controller/attitude
                controller/velocity
                controller/position
                "/>
    </include>
  </group>

  <group ns="uav6">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav6" />
      <arg name="tf_prefix" value="uav6" />
      <arg name="x" default="-1.0"/>
      <arg name="y" default="0.0"/>
      <arg name="z" default="0.3"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
                controller/attitude
                controller/velocity
                controller/position
                "/>
    </include>
  </group>

  <group ns="uav7">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="uav7" />
      <arg name="tf_prefix" value="uav7" />
      <arg name="x" default="-1.0"/>
      <arg name="y" default="-1.0"/>
      <arg name="z" default="0.3"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
                controller/attitude
                controller/velocity
                controller/position
                "/>
    </include>
  </group>

</launch>
