<?xml version="1.0"?>

<launch>
    <node pkg="uavs_explore_indoor_environment" type="UAVsExploreIndoorEnvironment" name="start_uavs" output="screen">
        <param name="map_file" type="string" value="/maps/map_40_40.txt"/>
        <param name="log_file_path" type="string" value="/path_log/40_40_world/four_uavs"/>
        <param name="uav_num" type="int" value="4"/>
    </node>

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find uavs_explore_indoor_environment)/rviz_cfg/four_rviz_config.rviz"/> -->
</launch>